@import "../abstracts/mixins";
@import "../abstracts/variables";


.apartment {
  &__card {
    margin-bottom: 20px;
  }

  &__desc {
    padding: 10px 16px 24px 16px;
    background: rgba(255, 255, 255, 1);
  }

  &__img {

    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;

    &-wrap {
      padding-bottom: 94%;
    }
  }

  &__name {
    font-size: 20px;
  }

  &__price {
    font-size: 24px;
    color: rgba(180, 102, 80, 1);
  }

  &__info {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;

    &-item {
      margin-bottom: 10px;
      -webkit-flex: 0 0 49%;
      -ms-flex: 0 049%;
      flex: 0 0 49%;

      & span {
        @include fontSize(13, 14);
        letter-spacing: 0.05em;


        &:nth-child(2) {
          color: rgba(180, 102, 80, 1);
        }
      }
    }
  }

  &__top {
    margin-bottom: 10px;
  }
}

.s-accent {
  padding: 184px 0 66px 0;
  background: rgba(43, 72, 68, 1);
  @media (max-width: $breakpoint-md) {
    padding: 123px 0 55px 0;
  }

  & .title {
    color: #fff;
  }

  & .filter-block {
    margin-top: 54px;
    @media (max-width: $breakpoint-md) {
      margin-top: 21px;
    }

    & .select-box {
      width: 100%;
      margin-bottom: 20px;
      @media (max-width: $breakpoint-md) {
        margin-bottom: 10px;
      }

      & select {
        width: 100%;
      }
    }

    &__buttons {
    }

    & .btn-primary, .btn-white {
      width: 100%;
    }
  }


}

.s-catalog {
  padding: 49px 0 77px 0;

  & .btn-primary {
    margin-top: 27px;
  }

  &.catalog-sort {
    margin-bottom: 30px;
  }
}


.s-faq {
  padding: 70px 0;
}

.accordion {
  position: relative;
  z-index: 1;

  &-item {
    position: relative;
    padding-block: var(--sp-sm);
    //border-bottom: solid 1px rgba(112, 112, 112, 1);
    cursor: pointer;
    overflow: hidden;

    &:after {
      content: '';
      width: 100%;
      height: 1px;
      background: rgba(112, 112, 112, 1);
      position: absolute;
      bottom: 0;
      left: 0;
      @include transition(.5);
    }

    &:not(&:last-child) {
      margin-bottom: 22px;
    }

    &.is-active {

      &:after {
        background: rgba(146, 192, 84, 1);
        bottom: 25px;

      }
    }
  }

  &-title {
    position: relative;
    @include transition(.5);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    color: rgba(29, 31, 33, 1);
    padding-bottom: 3px;
    text-shadow: -.25px -.25px 0 transparent,
    .25px .25px transparent;

    & i {
      color: rgba(29, 31, 33, 1);
      font-size: 25px;
      transform: rotate(-45deg);
      @include transition(.5)

    }

    &.is-active {
      color: rgba(146, 192, 84, 1);
      text-shadow: -.25px -.25px 0 rgba(146, 192, 84, 1),
      .25px .25px rgba(146, 192, 84, 1);

      & i {
        color: rgba(146, 192, 84, 1);
        transform: rotate(45deg);
      }
    }

  }

  &-inner {
    display: none;
    padding-top: var(--sp-sm);
    padding-bottom: 30px;
    padding-left: 0;
    -webkit-transition: padding-left var(--transition-1);
    transition: padding-left var(--transition-1);
  }
}