@import "../abstracts/mixins";
@import "../abstracts/variables";

.s-infrastructure {


  &:not(&.location) {
    padding: 83px 0 79px 0;
    background: rgba(143, 163, 153, 1);
    @media (max-width: $breakpoint-md) {
      padding: 30px 0;
    }
  }


  & .heading {
    margin-bottom: 30px;
    @include fontSize(36, 60);
  }

  & .description {
    margin-bottom: 46px;
  }

  &.location {
    padding: 40px 0 80px 0;
    background: rgba(180, 102, 80, 1);

    & .heading {
      @media (max-width: $breakpoint-md) {
        margin-bottom: 12px;
      }
    }

    & .infrastructure {
      &__heading {
        font-size: 16px;
      }
    }
  }
}


.s-infrastructure-detail {
  &__item {
    padding: 89px 0;
    @media (max-width: $breakpoint-md) {
      padding: 24px 0 43px 0;
    }

    &:nth-child(even) {
      background: rgba(143, 163, 153, 1);
      text-align: right;
      color: #fff;


      & .heading {
        color: rgba(255, 255, 255, 1);
        line-height: 1.39;

        &:after {
          right: calc(100% + 40px);
          left: auto;
          background: rgba(255, 255, 255, .6);
        }
      }

      & .description {
        margin-left: auto;
        margin-right: 0;
      }
    }
  }

  & .description {
    max-width: 83.33333%;
    margin-bottom: 29px;
    @include fontSize(14, 18);
    font-weight: 300;
    line-height: 1.5;
    letter-spacing: 0.05em;
    @media (max-width: $breakpoint-md) {
      margin-bottom: 18px;
      max-width: 100%;
    }
  }

  & .heading {
    margin-bottom: 3px;
  }

  & .text {
    margin-bottom: 29px;
  }

  & .gallery {
    &-filter {
      margin-bottom: 39px;
    }

    &__item {

    }

    &__img {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      object-fit: cover;

      &-wrap {
        position: relative;
        padding-bottom: 100%;
        -webkit-mask-size: contain;
        mask-size: contain;
        -webkit-mask-image: url(../img/bg-mask.svg);
        mask-image: url(../img/bg-mask.svg);
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
        -webkit-mask-position: center center;
        mask-position: center center;
      }
    }
  }


  .swiper-pagination {
    margin-top: 20px;
    background: rgba(0, 0, 0, 0.1);

    &-progressbar-fill {
      background: rgba(180, 102, 80, 1);
    }
  }
}


.developer {
  &__item {
    margin-bottom: 94px;

    &:nth-child(1) {
      & .developer {
        &__img {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);

          &-wrap {
            background: rgba(180, 102, 80, 1);

            &:before {
              content: '';
              padding-bottom: 100%;
              display: block;
            }
          }
        }

        &__content {
          padding-left: 4%;

        }
      }
    }

    &:nth-child(2) {
      flex-direction: row-reverse;
      & .developer {
        &__img {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);

          &-wrap {
            margin-right: calc((-50vw + 650px) / 2);

            &:before {
              content: '';
              padding-bottom: 100%;
              display: block;
            }
          }
        }

        &__content {
          padding-left: 4%;
          overflow: hidden;
        }
      }
    }
  }

  &__content {

  }

  &__heading {
    margin-bottom: 22px;
  }

  &__description {
    margin-bottom: 12px;
    @include fontSize(14, 18);
    font-weight: 300;
    line-height: 1.5;
    letter-spacing: 0.05em;
  }

  &__img {
    &-wrap {
      &:before {
        content: '';
        padding-bottom: 100%;
      }
    }
  }
}

.s-developer {


  & .number {
    &__wrap {
      display: grid;
      grid-template-columns: auto auto auto;
      gap: 3%;
      @media (max-width: $breakpoint-md) {
        grid-template-columns: auto auto;
      }
    }

    &__heading {
      width: 100%;
      margin-right: 0;
    }

    &__ {
      @include fontSize(14, 17);

    }
  }
}