@import "../abstracts/mixins";
@import "../abstracts/variables";


.s-location-slider {
  background: rgba(180, 102, 80, 1);
  padding: 179px 0;
  color: #fff;
  @media (max-width: $breakpoint-md) {
    padding: 23px 0 35px 0;
  }

  &__inner {
    @media (min-width: $breakpoint-lg) {
      flex-direction: row-reverse;
    }
  }

  & .heading {
    margin-bottom: 70px;
    margin-top: 42px;
  }

  & .decor {
    position: absolute;

    &-1 {
      top: 0;
      left: 0;
    }
  }

  & .img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    &__wrap {
      position: relative;
      padding-bottom: 70.5%;
    }
  }

  & .location {
    &__title {
      margin-bottom: 32px;
      @media (max-width: $breakpoint-md) {
        margin-bottom: 18px;
      }
    }

    &__text {
      margin-bottom: 70px;
      color: rgba(255, 255, 255, 0.5);
      font-size: 17px;
      line-height: 1.4;
    }
  }

  .swiper {
    &-slide {
      background: rgba(180, 102, 80, 1);
    }

    &-pagination {
      position: absolute;
      top: 0;
      right: calc(100% + 34px);
      display: flex;
      flex-direction: column;
      justify-content: start;

      &-bullet {
        font-size: 16px;
        color: rgba(255, 255, 255, .5);
        width: auto;
        height: auto;
        background: transparent;
        border-radius: 0;
        margin: 0;

        &:not(&:last-child) {
          margin-bottom: 35px;
        }

        &-active {
          font-size: 30px;
        }
      }
    }
  }
}